{% extends "base.html" %}

{% block content %}
<div class="form_wrapper">
    <div class="form">
        <h1>Enter Shoot Information</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.locations.label }} <br>
                {{ form.locations(size=32) }} <br>
                {% for error in form.locations.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.client_id.label }} <br>
                {{ form.client_id }} <br>
                {% for error in form.client_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.time.label }} <br>
                {{ form.time(size=32) }} <br>
                {% for error in form.time.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.prompt.label }} <br>
                {{ form.prompt(size=32) }} <br>
                {% for error in form.prompt.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.camera.label }} <br>
                {{ form.camera(id='camera-select') }} <br>
                {% for error in form.camera.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lens.label }} <br>
                {{ form.lens(id='lens-select') }} <br>
                {% for error in form.lens.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.num_photos_requested.label }} <br>
                {{ form.num_photos_requested }} <br>
                {% for error in form.num_photos_requested.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.model_release.label }} <br>
                {{ form.model_release(size=32) }} <br>
                {% for error in form.model_release.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.branding.label }} <br>
                {{ form.branding(size=32) }} <br>
                {% for error in form.branding.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>


{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const cameraSelect = document.getElementById('camera-select');
    const lensSelect = document.getElementById('lens-select');
    
    cameraSelect.addEventListener('change', function() {
        const cameraId = cameraSelect.value;
        console.log('Camera selected:', cameraId);  // Add this line

        if (cameraId === '') {
            lensSelect.innerHTML = '';
            return;
        }
    
        fetch('/lenses/' + cameraId)
            .then(response => {
                console.log('Response:', response);  // Add this line
                return response.json();
            })
            .then(lenses => {
                console.log('Lenses:', lenses);  // Add this line
                lensSelect.innerHTML = '';
    
                lenses.forEach(lens => {
                    const option = document.createElement('option');
                    option.value = lens.id;
                    option.text = lens.label;
                    lensSelect.add(option);
                });
            });
        });
    });
</script>
{% endblock %}