body {
  padding: 0;
  margin: 0; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, blue, rgba(0, 0, 255, 0.3));
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
  height: 3rem;
  padding: 0; }
  .navbar a {
    color: inherit;
    padding: 0 1rem;
    text-decoration: none; }
    .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
      text-decoration: none; }

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/mountain.jpg");
  opacity: 0.8; }
  .form_wrapper .form {
    margin: 10%;
    padding: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.95; }

.info_wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
