body {
  padding: 0;
  margin: 0; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, blue, rgba(0, 0, 255, 0.3));
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
  height: 3rem;
  padding: 0; }
  .navbar a {
    color: black;
    padding: 0 1rem;
    text-decoration: none; }
    .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
      text-decoration: none; }

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.info_wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }
