html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgba(40, 58, 151, 0.7), rgba(0, 52, 98, 0.8), rgba(0, 52, 98, 0.4));
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin: 0;
  height: 3rem;
  padding: 0; }
  .navbar a {
    color: inherit;
    padding: 0 1rem;
    text-decoration: none; }
    .navbar a:link, .navbar a:visited, .navbar a:hover, .navbar a:active {
      text-decoration: none; }

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(to bottom, #283a97, rgba(40, 58, 151, 0)), url("../img/mountain.jpg");
  max-width: 100%;
  min-height: 100vh; }
  .form_wrapper .form {
    margin: 10%;
    margin-top: 5%;
    padding: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif; }
    .form_wrapper .form label {
      font-weight: bold; }

.info_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #283a97, rgba(40, 58, 151, 0)), url("../img/mountain.jpg");
  min-height: 100vh;
  max-width: 100%; }
  .info_wrapper .info {
    margin: 10%;
    margin-top: 5%;
    padding: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif; }
    .info_wrapper .info label {
      font-weight: bold; }
    .info_wrapper .info button {
      margin: 0.5rem;
      margin-top: 2rem;
      padding: 0.5rem; }
    .info_wrapper .info table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 1em; }
      .info_wrapper .info table th, .info_wrapper .info table td {
        text-align: left;
        padding: 0.5em 1em; }
      .info_wrapper .info table th {
        background-color: #f2f2f2;
        font-weight: bold; }
      .info_wrapper .info table th:first-child {
        border-top-left-radius: 5px; }
      .info_wrapper .info table th:last-child {
        border-top-right-radius: 5px; }
      .info_wrapper .info table tbody tr:nth-child(odd) {
        background-color: #f8f8f8; }
      .info_wrapper .info table tbody tr:nth-child(even) {
        background-color: #ffffff; }
      .info_wrapper .info table tbody tr:hover {
        background-color: #e0e0e0; }
      .info_wrapper .info table tbody tr:first-child td:first-child {
        border-top-left-radius: 5px; }
      .info_wrapper .info table tbody tr:first-child td:last-child {
        border-top-right-radius: 5px; }
      .info_wrapper .info table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 5px; }
      .info_wrapper .info table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 5px; }
