.form_wrapper {
    @include flex-center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(40, 58, 151, 1), rgba(40, 58, 151, 0)), url('../img/mountain.jpg');
    max-width: 100%;
    min-height: 100vh;

    .form {
        margin: 10%;
        margin-top: 5%;
        padding: 3rem;
        padding-left: 10%;
        padding-right: 10%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        font-family: $font-family_1;

        label {
            font-weight: bold;
        }
    }
}