.navbar {
    @include flex-center;
    background-image: linear-gradient(to bottom right, rgba(40,58,151,0.7), rgba(0,52,98,0.8),rgba(0,52,98,0.4));
    font-family: $font-family_1;
    color: #ffffff;
    margin: 0;
    height: 3rem;
    padding: 0;

    a {
        color: inherit;
        padding: 0 1rem;
        text-decoration: none;
    
        &:link,
        &:visited,
        &:hover,
        &:active {
          text-decoration: none;
        }
    }
}