<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

        {% if title %}
        <title>{{ title }} - TFord Photo</title>
        {% else %}
        <title>Welcome to TFord Photo</title>
        {% endif %}

        {% assets "home_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            TFord Photo: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('clientform') }}">Client Form</a>
            <a href="{{ url_for('shootform') }}">Shoot Form</a>
            <a href="{{ url_for('clientinfo') }}">Client Info</a>
            <a href="{{ url_for('shootinfo') }}">Shoot Info</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="content">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>