{% extends "base.html" %}

{% block content %}
<div class="info_wrapper">
    <div class="info">
        <h1>Client Details</h1>
        <form method="POST">
            {{ form.csrf_token }}
            
            <div>
                <label for="{{ form.client_id.id }}">Select Client:</label>
                {{ form.client_id }}
            </div>
            
            <button type="submit">Load Client Details</button>
        </form>

        {% if selected_client %}
        <h2>Client Information</h2>
        <ul>
            <li>First Name: {{ selected_client.first_name }}</li>
            <li>Last Name: {{ selected_client.last_name }}</li>
            <li>Email: {{ selected_client.email }}</li>
            <li>Phone: {{ selected_client.phone }}</li>
            <li>Payment Information: {{ selected_client.payment_information }}</li>
            <li>Street: {{ client_address.street }}</li>
            <li>City: {{ client_address.city }}</li>
            <li>State: {{ client_address.state }}</li>
            <li>Postal Code: {{ client_address.postal_code }}</li>
            <li>Country: {{ client_address.country }}</li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}